/********************************************

	Styles to be added to energy.gov in order 
	to allow it to look however you want it.
	Reminder: make it responsive

********************************************/


/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/
 #master_container {
 	font-family: 'Avenir LT W02 35 Light',verdana,sans-serif;
    text-transform: none !important;
    position: relative;
    width: 100%;
    height: 800px;
 }
 #map { position:absolute; top:0; height: 500px; width:100%;}
