<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" prefix="og: http://opengraphprotocol.org/schema/ content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"> <![endif]-->
<!--[if IE 7 ]>    <html class="lt-ie10 lt-ie9 lt-ie8 ie7" lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" prefix="og: http://opengraphprotocol.org/schema/ content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"> <![endif]-->
<!--[if IE 8 ]>    <html class="lt-ie10 lt-ie9 ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" prefix="og: http://opengraphprotocol.org/schema/ content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"> <![endif]-->
<!--[if IE 9 ]>    <html class="lt-ie10 ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" prefix="og: http://opengraphprotocol.org/schema/ content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr" prefix="og: http://opengraphprotocol.org/schema/ content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#"> <!--<![endif]-->

<head profile="http://www.w3.org/1999/xhtml/vocab">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />

<link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css' rel='stylesheet' />
  <!-- // <script src='http://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script> -->
  <!-- <link href='http://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' /> -->
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.ie.css' rel='stylesheet'>
  <![endif]-->

<!-- Begin Merged CSS -->


<link rel="stylesheet" type="text/css" href="/css/style.css">


<!-- /End Merged CSS -->


<!-- Master CSS for Energy.gov, including fonts, etc -->
  <!-- energy.gov/articles css sheets -->
<link type="text/css" rel="stylesheet" href="http://energy.gov/sites/prod/files/css/css_o3BYyXcPI_h6ziNB2mEQeSiMXqd3LGy1MGDTPdb2tmc.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://energy.gov/sites/prod/files/css/css_j7zLgsgrbnRJpk4ejQPAF3O2G7vQUQompWQUwMAyLHs.css" media="all" />

  <!-- energy.gov/maps css sheets -->
  <!-- <link type="text/css" rel="stylesheet" href="http://energy.gov/sites/prod/files/css/css_Yr1jLb5PYUBD3A-XlFPbONEnd986KQmh5gGIF4r5pkU.css" media="all" /> -->
  <!-- <link type="text/css" rel="stylesheet" href="http://energy.gov/sites/prod/files/css/css_QZCXcDlZhm2RW7NW8bBmDxIV6lSnGlqD8cug-NzqeEE.css" media="all" /> -->

<link rel="stylesheet" type="text/css" href="/css/fonts.css">


<!-- Fallback CSS if/when above links break -->
<link rel="stylesheet" type="text/css" href="/css/master_style.css">

<meta name="viewport" content="width=device-width, maximum-scale=2, minimum-scale=1, initial-scale=1, user-scalable=yes" />

</head>


<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-811664 node-type-article group-context group-context-group-1 group-context-taxonomy-term group-context-taxonomy-term-31 has-content-sidebar" >
  <div id="page" class="container column-row">    
    <div class="content">


      <!-- Begin Merged Markup.html partial Content -->
      
        {{ content }}

      <!-- /End Merged Content -->


    </div>
  </div>

<!-- Javascript references -->
  <!-- Libraries such as jquery, mapbox, highcharts. Can (probably should) be referenced from external setting-->
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>

  <!-- Data (JSON, etc) -->
  

  <!-- Scripts (get to work) like script.js -->
  <script type="text/javascript" src="/js/script.js"></script>

<!-- /End JS references -->

</body>
</html>
